.feature_container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}
.more_container {
  display: flex;
  align-items: center;
}
.more_container a {
  padding-right: 1rem;
  color: #be123c;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  text-decoration: none;
}
.more_container img {
  width: 0.7rem;
}
