.footer_container {
    text-align: center;
    margin: 5rem 0 2.5rem 0;
}
.footer_container div {
    margin-top: 1.5rem;
}
.socials_container img:not(:last-child) {
    margin-right: 3rem;
}
.conditions_container {
    display: flex;
    justify-content: space-between;
    margin: 0 28rem;
    font-weight: 500;
}
