.header_container {
    display: flex; 
    justify-content: space-between;
    margin: 0rem 5rem;
    padding: 2rem 0;
}
.box {
    width: 35rem;
    height: 2.5rem;
    background-color: transparent;
    display: flex;
    border-radius: 0.6rem;
    text-align: center;
    border: 1.5px solid #ffffff;
    padding: 0.7rem;
    margin-left: 7rem;
}
.box img {
    width: 1rem;
}
.box > input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    padding-right: 1rem;
    color: #ffffff;
}
.box > input::placeholder {
    color: #ffffff;
}
.menu_container {
    display: flex;
    justify-content: space-between;
    
}
.menu_container p {
    padding-right: 1.5rem;
    color: #ffffff;
    font-weight: 600;
}
.menu_container button.menu_button {
    background-color: #BE123C;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: none;
    display: grid;
    place-items: center;
    cursor: pointer;
}