.header_container {
    display: flex; 
    justify-content: space-between;
    margin: 0rem 5rem;
    padding: 2rem 0;
}
.box {

}
.menu_container {
    display: flex;
    justify-content: space-between;
    
}
.menu_container p {
    padding-right: 1.5rem;
    color: #ffffff;
    font-weight: 600;
}
.menu_container img {
    background-color: #BE123C;
    border-radius: 50%;
    width: 5rem;
    padding: 2rem;
}