
.background_container {
    background-image: url(../images/poster.svg);
    background-repeat: no-repeat;
    margin-top: -9rem;
    padding: 6rem 0rem ;
    /* width: 20rem; */
    color: #ffffff;
}
.johnwick {
    width: 22rem;
    margin: 3rem 5rem;
}
.johnwick h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    /* color: #ffffff; */
}
.johnwick h2 span {
    margin-left: -2.9rem;
}
.johnwick p {
    text-align: left;
}
.rating_container {
    display: flex;
    /* justify-content: space-between; */
}
.rating_container div:not(:last-child) {
    margin-right: 2rem;
}
.imdb_rating {
    display: flex;
}
.imdb_rating img {
    margin-right: 1rem;
}
.imdb_rating p {
    font-size: 0.8rem;
}
.background_container button {
    background-color: #BE123C;
    padding: 0.5rem 1rem;
    border: none;
    color: #ffffff;
    border-radius: 0.5rem;
    font-weight: 700;
}
.background_container button img {
    width: 1.3rem;
    padding-right: 0.5rem;
    position: relative;
    top: 0.2rem;
}
.movies_container {
    margin: 0rem 5rem;
}